<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <title>Voorspel Droomvakantie</title>
    {{ bootstrap.load_css() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Verander container naar container-fluid om de volledige breedte te benutten -->
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fullwidth">
        <ul class="navbar-nav w-100">
          <!-- Voeg w-100 toe om ervoor te zorgen dat de ul de volledige breedte neemt -->
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/voorspel">Voorspel</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/over_de_ai">Over de AI</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="feedback-section">
      <h2>Over onze AI</h2>
      <p class="intro-text">
        Onze slimme AI, aangedreven door een geavanceerde decision tree-technologie, helpt je bij het vinden van de perfecte vakantiebestemming. Door zorgvuldig je voorkeuren te analyseren begeleidt onze AI je door een gestructureerde reeks beslissingen. Dit proces stelt ons in staat om steeds gerichter te zoeken en enkel de bestemmingen te tonen die écht bij je passen.
      </p>
      <p class="intro-text">
Een decision tree werkt als een vertakkingsstructuur, waarbij elke stap nauwkeurig jouw wensen in kaart brengt en leidt naar de meest passende opties. Dankzij deze technologie kunnen we een selectie maken die jouw reisvoorkeuren weerspiegelt, van avontuurlijke rondreizen tot relaxte strandvakanties. Zo garandeert onze AI niet alleen dat jouw vakantie afgestemd is op jouw wensen, maar bespaart het je ook tijd en moeite in je zoektocht.
      </p>
      <p class="intro-text">
Ons doel? De reis van je dromen toegankelijk en eenvoudig maken met de kracht van slimme, nauwkeurige technologie.
      </p>
    <p> IETS OVER BIAS</p>
      
    </div>
  </body>
</html>