<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
      rel="stylesheet"
    />
    <title>Voorspel Droomvakantie</title>
    {{ bootstrap.load_css() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Verander container naar container-fluid om de volledige breedte te benutten -->
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light navbar-fullwidth"
      >
        <ul class="navbar-nav w-100">
          <!-- Voeg w-100 toe om ervoor te zorgen dat de ul de volledige breedte neemt -->
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/voorspel">Voorspel</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/over_de_ai">Over de AI</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container predict-page">
      <!-- Form Section -->
      <h2 class="center-title">Voorspel je droomvakantie besteming!</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <form id="prediction-form">
            <div class="form-group">
              <label for="budget">Budget</label>
              <select class="form-control" id="budget" name="budget">
                <option>Laag</option>
                <option>Midden</option>
                <option>Hoog</option>
              </select>
            </div>
            <div class="form-group">
              <label for="climate">Gewenst klimaat</label>
              <select class="form-control" id="climate" name="climate">
                <option>Tropisch</option>
                <option>Gematigd</option>
                <option>Koud</option>
              </select>
            </div>
            <div class="form-group">
              <label for="activities">Activiteiten</label>
              <select class="form-control" id="activities" name="activities">
                <option>Avontuur</option>
                <option>Sightseeing</option>
                <option>Ontspannen</option>
              </select>
            </div>
            <div class="form-group">
              <label for="companions">Reisgenootschap</label>
              <select class="form-control" id="companions" name="companions">
                <option>Alleen</option>
                <option>Koppel</option>
                <option>Famillie</option>
                <option>Vrienden</option>
              </select>
            </div>
            <input
              type="submit"
              value="Voorspel"
              class="btn btn-primary mt-3"
            />
          </form>
        </div>

        <div class="col-md-6 border-left">
          <div id="hide">
            <p>
              Geef links jouw voorkeuren voor jouw droomvakantie aan, op basis
              van deze gegevens kan de AI een suggestie doen over wat hij denkt
              dat jouw droombestemming is!
            </p>
            <p>
              Zodra je op de voorspel knop drukt komt hier jouw voorspelde
              droomvakantie te staan!
            </p>
            <p class="privacy-text">
              Ons AI-model slaat geen persoonlijke gegevens van gebruikers op.
              Alle interacties met het model zijn tijdelijk en worden niet
              bewaard nadat de sessie is beëindigd. Wij verzamelen geen
              identificeerbare informatie, en wij respecteren de privacy van
              onze gebruikers volledig. Uw gegevens worden alleen gebruikt om de
              interactie te verbeteren tijdens het gebruik van de service en
              worden niet opgeslagen of gedeeld met derden.
            </p>
          </div>
          <div id="result"></div>
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("prediction-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const formData =
            document.forms["prediction-form"]["budget"].value +
            "," +
            document.forms["prediction-form"]["climate"].value +
            "," +
            document.forms["prediction-form"]["activities"].value +
            "," +
            document.forms["prediction-form"]["companions"].value;

          console.log(formData);
          const response = await fetch("/predict", {
            method: "POST",
            body: JSON.stringify({
              data: formData,
            }),
          });

          const result = await response.json();
          document.getElementById("result").innerHTML = result.prediction;
          document.getElementById("hide").style.display = "none";
        });
    </script>

    {{ bootstrap.load_js() }}
  </body>
</html>
