<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
      rel="stylesheet"
    />
    <title>Voorspel Droomvakantie</title>
    {{ bootstrap.load_css() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Verander container naar container-fluid om de volledige breedte te benutten -->
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light navbar-fullwidth"
      >
        <ul class="navbar-nav w-100">
          <!-- Voeg w-100 toe om ervoor te zorgen dat de ul de volledige breedte neemt -->
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/voorspel">Voorspel</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/over_de_ai">Over de AI</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="feedback-section">
      <h2>Over onze AI</h2>
      <p class="intro-text">
        Onze AI kan jouw perfecte vakantie voorspellen. Onze voorspellingen zijn
        gemaakt op basis van een uitgelekte database dus alles is 100% accuraat.
      </p>
      <h2>Voorspellingen van gebruikers:</h2>
      <p class="intro-text">
        Remo van der Heiden - remo@avans.nl
        <br />
        Hoog, Tropisch, Ontspannen, Koppel
        <br />
        Bestemming: Rio de Janeiro - Resort
      </p>
      <p class="intro-text">
        Jelle de Vries - jelle@avans.nl
        <br />
        Laag, Gematigd, Sightseeing, Solo
        <br />
        Bestemming: Tokyo - Hostel
      </p>
      <p class="intro-text">
        Lara Jansen - lara@avans.nl
        <br />
        Midden, Gematigd, Avontuur, Koppel
        <br />
        Bestemming: Tokyo - Hotel
      </p>
      <p class="intro-text">
        Tim Bakker - tim@avans.nl
        <br />
        Hoog, Tropisch, Ontspanning, Vrienden
        <br />
        Bestemming: Bali - Resort
      </p>
      <p class="intro-text">
        Eva de Groot - eva@avans.nl
        <br />
        Laag, Koud, Avontuur, Solo
        <br />
        Bestemming: Hammerfest - Hostel
      </p>
      <p class="intro-text">
        Sara Meijer - sara@avans.nl
        <br />
        Midden, Gematigd, Sightseeing, Koppel
        <br />
        Bestemming: Cape Town - Hotel
      </p>
      <h2>Privacy</h2>
      <p class="intro-text">
        Ons AI-model slaat persoonlijke gegevens van gebruikers op om de
        gebruikerservaring te verbeteren. Uw gegevens worden mogelijk gedeeld
        met derden.
      </p>
      <h2>Disclaimer</h2>
      <p class="intro-text">
        Travel AI is niet verantwoordelijk voor eventuele datalekken die
        voortkomen uit het gebruik van onze AI. Gebruik onze AI op eigen risico.
      </p>
    </div>
  </body>
</html>
